<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="uk.co.jaspalsvoice.jv"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".JvApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:label="@string/personal_details"
            android:name=".activities.PersonalDetailsActivity"/>
        <activity
            android:label="@string/medicines"
            android:name=".activities.MedicinesActivity"/>
        <activity
            android:label="@string/medical_allergies"
            android:name=".activities.MedicalAllergiesActivity"/>
        <activity
            android:label="@string/food_allergies"
            android:name=".activities.FoodAllergiesActivity"/>
        <activity
            android:label="@string/gp_medical_team"
            android:name=".activities.GpActivity"/>
        <activity
            android:label="@string/likes_dislikes"
            android:name=".activities.LikesDislikesActivity"/>
        <activity
            android:label="@string/diagnosis"
            android:name=".activities.DiagnosisActivity"/>
        <activity
            android:label="@string/about_me"
            android:name=".activities.AboutMeActivity"/>
    </application>

</manifest>
